* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    background-color: #b6f5f5;
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.news-block {
    display: grid;
    gap: 5px;
    background-color: #B3FFFF;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #000;
    padding: 10px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    pointer-events: none; 
}

.modal__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:white;
    width:400px;
    padding:25px;
    background-color: #e1ff73;
    width:450px;
}

.modal__box h3 {
    text-align: center;
    padding-bottom:20px;
    font-size:30px;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

button {
    color: white;
    margin: 20px auto;
    width: 20%;
    height: 30px;
    font-size: 13px;
    background: linear-gradient(lime 10%, rgb(34, 117, 34));
    text-align: center;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    border: 0;
}

.news-block:hover {
    background: rgb(260, 90, 90);
}
